@page "/"
@inject NavigationManager Nav
@inject Helper.AuthenticationState AuthState
@inject Blazored.LocalStorage.ILocalStorageService localStrorage
@inject BytesTracker.Services.UserService LoginService
@inject BytesTracker.Services.UserService UserService


<div class="container w-50">
    <div class="card mt-5">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <EditForm Model="@userDto" OnSubmit="HandleLogin">
                <div class="form-group">
                    <label>UserName</label>
                    <InputText @bind-Value="userDto.UserName" class="form-control" />
                </div>

                <div class="form-group mt-3">
                    <label>Password</label>
                    <InputText type="password" @bind-Value="userDto.Password" class="form-control" />
                </div>

                <div class="form-group mt-3">
                    <label>Please Choose Currency</label>
                    <InputSelect @bind-Value="userDto.Currency" class="form-control">
                        <option value="">Select</option>
                        @foreach (var currency in Helper.Currency.GetAllCurrencies())
                        {
                            <option value="@currency.Code-@currency.Symbol">@currency.Name (@currency.Code)</option>
                        }
                    </InputSelect>
                  
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4">Login</button>

                @if (isError)
                {
                    <div class="alert alert-danger mt-3">@errorMessage</div>
                }

            </EditForm>
        </div>
    </div>
</div>




