@page "/transaction"
@inherits ComponentBase

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BytesTracker.Services.UserService userService
@inject BytesTracker.Services.TagService tagService
@inject BytesTracker.Services.TransactionService transactioService



<div style="max-width:100%">

    <div class="transaction-container">
        <div class="header">
            <div class="title">Income & Expences</div>
        </div>
        <div class="summary-cards">
            <div class="card debit">
                <div class="amount">@currencyCode 50000</div>
                <div class="label">Debit</div>
            </div>
            <div class="card credit">
                <div class="amount">@currencyCode 50000</div>
                <div class="label">Credited</div>
            </div>
            <div class="card total">
                <div class="amount">@currencyCode 50000</div>
                <div class="label">Balance </div>
            </div>
        </div>
        @if (showTransPop)
        {
            <div class="popup-overlay">
                <div class="popup-content">
                    <h2>Amount Manager</h2>
                    <div>
                        <EditForm Model="@transactionDto">

                            <div style="display:flex; justify-content:space-around" class="tranparrent">
                                <div class="transchild">
                                    <p style="text-align:center">Sources:</p>
                                    <input @bind="transactionDto.Sources" required type="text" />
                                </div>
                                <div>
                                    <p style="text-align:center">Amount:</p>
                                    <input @bind="transactionDto.Value" required type="number" />
                                </div>
                            </div>

                            <div style="display:flex; justify-content:space-around"  class="tranparrent">
                                @if (transactionDto.Status == Helper.StatusType.Pendling.ToString())
                                
                                {
                                    <div class="transchild">
                                        <p style="text-align:center">Due Date:</p>
                                        <input @bind="transactionDto.DueDate" required type="date" />
                                    </div>

                                }

                               
                                <div>
                                    <p style="text-align:center">Note</p>
                                    <textarea placeholder="Note" @bind="transactionDto.Note"></textarea>
                                </div>
                            </div>

                            <div style="display:flex; justify-content:space-around" class="tranparrent">
                                <div>
                                    <p style="text-align:center">Status:</p>
                                    <select required @bind="transactionDto.Status">
                                        @foreach (Helper.StatusType type in Enum.GetValues(typeof(Helper.StatusType)))
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    </select>
                                </div>
                                <div style="display:flex">
                                    <div>
                                        <p style="text-align:center">Type </p>
                                        <select required @bind="transactionDto.Type">
                                            @foreach (Helper.SourceType type in Enum.GetValues(typeof(Helper.SourceType)))
                                            {
                                                <option value="@type">@type</option>

                                            }
                                        </select>

                                    </div>
                                    <div>
                                        <p style="text-align:center">Catagory </p>
                                        <select @bind="transactionDto.Tag">
                                            @foreach (var tag in userTags)
                                            {
                                                <option value="@tag.id">@tag.TagName</option>

                                            }
                                        </select>
                                    </div>


                                </div>
                            </div>


                        </EditForm>
                      

                    </div>
                    <div>
                        <button @onclick="AddTransation">Add</button>

                        <button class="close-btn" @onclick="ClosetransactionManagerPopUp">Close</button>

                    </div>

                  
                </div>
            </div>
        }




        <div class="form-container">
            <h1 class="title">Transactions</h1>
            <div class="table-controls">
                <div class="search-box">
                    <input type="search" placeholder="search">
                    <button style="background-color:#007bff; color:white">Search</button>
                </div>
                <div class="sort-box">
                    <select>
                        <option>Sort by</option>
                    </select>
                </div>

            </div>
            <table class="tags-table">
                <thead>
                    <tr>
                        <th style="width:13%;">Transaction ID</th>
                        <th style="width:15%;">Created Date</th>
                        <th style="width:15%;">Due Date</th>
                        <th style="width:15%;">Status</th>
                        <th style="width:20%;">Source</th>
                        <th style="width:15%;">Amount</th>
                        <th style="width:10%;">Type</th>
                        <th style="width:20%;">Category</th>
                    </tr>

                </thead>
                <tbody>
                    @{
                        transactioncounter = 15;
                        int remainingTransactio = transactioncounter;
                    }


                    @foreach (var transaction in userTransactions)
                    {
                        <tr>
                            <td>@transaction.id</td>
                            <td>@transaction.created_at</td>
                            <td>@transaction.due_at</td>
                            <td>@transaction.status</td>
                            <td>@transaction.source</td>
                            <td>@transaction.amount</td>
                            <td>@transaction.type</td>
                            <td>@transaction.tagid</td>
                        </tr>

                        remainingTransactio--; 
                    }
                    @for (int i =1; i < remainingTransactio; i++) 
                    {

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }

                </tbody>
            </table>
            <div class="button-container">
                <button id="add-trans" @onclick="ShowtransactionManagerPopUp">Add</button>
            </div>
        </div>
    </div>
</div>




<div class="form-container">
    <h1 class="title">Create Tags</h1>
    <EditForm Model="@tagModel" OnSubmit="@HandleSubmit">
        <div class="form-content">
            <div class="tagheader">
                <div class="form-group">
                    <label class="form-label">Tag Name</label>
                    <InputText @bind-Value="tagModel.TagName" class="custom-form" />
                </div>
                <div class="form-group">
                    <label class="form-label">Tag Description</label>
                    <textarea @bind="tagModel.TagDescription" class="custom-form tag-description"></textarea>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
            @if (isError)
            {
                <div class="alert alert-danger">@errorMessage</div>
                <button type="button" @onclick="CloseErrorPopUp" class="close-btn">Close</button>
            }
            @if (isSuccess)
            {
                <div class="alert alert-success">Operation successful!</div>
                <button type="button" @onclick="CloseSuccessPopUp" class="close-btn">Close</button>
            }
        </div>
    </EditForm>
    <table class="tags-table">
        <thead>
            <tr>
                <th>Tag Id</th>
                <th>Created At</th>
                <th>Tag Name</th>
                <th>Tag Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                tagcounter = 6;
                int remainingTags = tagcounter;
            }

            @foreach (var tag in userTags)
            {
                @if (remainingTags > 0)
                {


                    <tr>
                        <td>@tag.id</td>
                        <td>@tag.created_at.ToShortDateString()</td>
                        <td>@tag.TagName</td>
                        <td>@tag.TagDescription <button @onclick="() => HandleDeleteTag(tag.id)" class="delete-btn">Delete</button></td>
                    </tr>

                    remainingTags--;
                        
                }
            }

            @for (int i = 1; i < remainingTags; i++)
            {

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            }

        </tbody>
    </table>
</div>





